{{extend 'addpages.html'}}     

<div class="row headr">
  <h1>
    بسم الله الرحمن الرحيم
    </h1>
            <img src="{{=URL('static','images/itmlogos.png')}}" alt="" class="img-rounded">

<h2>
    مرحبا بكم فى برنامج ادارة الخدمات المالية 
    </h2>
     <p>
نسخة تجريبية
    </p>
</div>
     <div class="row">
         <div class="col-xs-9 col-md-4" id="groupop" data-menu='menu1'>
             <h3>
                 مجموعة العمليات اليومية
             </h3>
            <ul>
                <li>تسجيل طلب فحص.</li>
                <li>تسجيل المصروفات.</li>
                <li></li>
             </ul> 
         </div>
<div class="col-xs-9 col-md-3" id="groupop" data-menu='menu2'>
     <h3>
                 مجموعة التقارير
             </h3>
             <ul>
                <li>عن فترة. </li>
                <li>الطبيب خلال فترة.</li>
                <li>الخزينة(ايرادات/مصروفات).</li>
             </ul> 
         </div>
         <div class="col-xs-9 col-md-4" id="groupop" data-menu='menu3'>
              <h3>
                 مجموعة الإدارة
             </h3>
             <ul>
                <li>تسجيل بيانات طبيب الاشعة</li>
                   <li>تسجيل نوع الفحص وتكلفته</li>
                <li>تسجيل رصيد/مسحوبات الخزينة</li>
              
             </ul> 
         </div>
      </div>
      
         
         
</div>
